{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "quoteProps": "as-needed"
  }